body{
    margin: 0px 200px ;
}
/* header css start */
.header {
    /* background-image: url(./img/pic\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 500px;
    width: 500px; */
   
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-right: 220px;
}
.list-item {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    margin-right: 60px;
}
.btn-1 {
    padding: 9px 11px;
    cursor: grab;
    margin-right: 60px;

}
/* nav bar end */
.title-1 {
    margin-top: 112px;
    color: rgb(223, 105, 81);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.title-2 {
    color: rgb(24, 30, 75);
    font-size: 84px;
    font-weight: 700;
    text-align: left;
}
.banner-container-2 {
    display: flex;
    align-items: center;
}