header {
   background-image: url(pic (1).png);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-right: 220px;
}
.list-item {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    margin-right: 60px;
}
.btn-1 {
    padding: 9px 11px;
    cursor: grab;
    margin-right: 60px;

}